.homeContent {
    @apply py-4 px-8 lg:py-8 lg:px-16;
    & .bx-cloud-upload {
        background-color: #282c34;
        font-size: 35px;
        @apply fixed bottom-8 right-8 text-white rounded-full p-2 cursor-pointer;
    }
}
.MuiPaper-root {
    @apply relative pb-9;
}
.MuiCardActions-root {
    @apply absolute bottom-1 justify-around w-full;
}
.MuiGrid-item {
    @apply flex justify-center;
}
.cardActionsFooter {
    @apply flex items-center gap-1;
}
.switch {
    display: flex !important;
    @apply justify-center mb-6;
}
.uploadForm {
    & i {
        @apply absolute top-1 right-1 text-2xl cursor-pointer;
    }
    & form {
        @apply flex flex-col;
    }
    & form > * {
        @apply mt-4 w-full rounded-md p-2;
    }
    & input {
        @apply border border-solid border-gray-400;
    }
    & button {
        @apply bg-blue-600 text-white;
    }
}
